
td{
  display:table-cell;
  vertical-align:top;
  width: 200px;
  /*transform: translateX(150px);*/
  /*transform: tra;*/
  /*transform: translateX(200px);*/
}
th{
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0px;
  height: 44px;
  width: 150px;
  background-color: rgba(229, 230, 239, 0.9);
  padding: 10px;
  z-index: 100;
  /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/

}
tr{
  height: 30px;
  /*background-color: rgba(0,0,0,0.5);*/
  /*background-color: rgba(68, 69, 75, 0.2);*/

  position: relative;
}
tr td{
}
table{
  /*background:rgba(204, 204, 204, 0.19);*/

}
table:after{
  content: '';
  position: absolute;
  width: 150px;

}
table tbody{
  display:block;
  /*height:200px;*/
  /*overflow:auto*/
}
.cell{
  display: block;
  height: 100%;
  width: 200px;
  margin: 0;
  /*background-color: azure;*/
  transform: translateX(150px);
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


