<h1>
  master of get!
</h1>

<h1 *ngIf="!isDone">getting...</h1>
<h1 *ngIf="isDone">Done!</h1>
<p>got {{results.length}} movies from api</p>

<div *ngIf="isDone" class="container">
  <div *ngFor="let res of results, let i = index"
       class="circle">
    <div appBgImg
         img="{{res.poster_path}}"
         (imgDone)="handelImg($event)"
         class="cont">
      <div class="cont" [style.background]="colors[i].color">
        <!--<p>{{res.title}}</p>-->
      </div>
    </div>
  </div>
</div>
