:host{
  display: inline-block;
}

:host:first-of-type{
  z-index: 10000;
}


li {
  width: 15vw;
  height: 20vw;
  background-color: #da0f6c;

  animation-name: a-to-b;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-direction: alternate;

  position: absolute;
  top:200px;
  left:calc(100vw + 15vw);
}
/* The animation code */
@keyframes a-to-b {
  0%{
    transform:translate(-120vw, -120vw) scale(1.5);
  }
  4%{
    transform:translate(-115vw, -80vw) scale(1.5);
  }
  5%{
    transform:translate(-115vw, 0) scale(1.5);
  }

  9%{
    transform:translate(-115vw, 0) scale(1);
  }

  //50%{
  //  transform:translate(-115vw, 0) rotate3d(0,15,1,30deg);
  //}
  //10%{
  //  width: 15vw;
  //  transform:translate(-115vw);
  //}
  //14%{
  //  width: 15vw;
  //  transform:translate(-110vw);
  //}
  //15%{
  //  width: 15vw;
  //  transform:translate(-80vw);

  //}
  //25%{
  //  transform: translateX(-90vw) translateY(0vw) scale(1);
  //}
  100%{
    transform: translate(0) scale(1);
  }
  //0%   {
  //  transform: translateX(-110.66666666vw) translateY(0vw);
  //  width: 0vw;
  //}  rotate(7deg)
  //2%{
  //  width:  20.3333333vw;
  //  transform: translateX(-100.66666666vw) translateY(0vw);
  //}
  //3%{
  //     width:  20.3333333vw;
  //   }
  ////19%{
  ////  width:  20.3333333vw;
  ////}
  //20%{
  //  width:  20.3333333vw;
  //  //transform: translateX(-110.66666666vw) translateY(0vw);
  //}
  //25%{
  //  width:  16.6666666vw;
  //  //transform: translateX(-100.66666666vw) translateY(0vw);
  //
  //}
  //33%{
  //  width: 16.6666666vw;
  //}
  //22%{
  //  width: 33.3333333vw;
  //}
  //40%{
  //}
  //11%{
  //  transform: translateX(-100.66666666vw) translateY(0vw)  scale(1);
  //}
  //15%{
  //  transform: translateX(-102.66666666vw) translateY(0vw)  scale(1.2);
  //}
  //25%{
  //  transform: translateX(-90.66666666vw) translateY(0vw)  scale(0.8);
  //}
  100% {
    transform:translateX(0)  translateY(0vw)  scale(1);
  }
}
