<h1>
  master of inputs!
</h1>
<h3>marge 2 inputs</h3>
<app-common-text-input
  (strValue)="handelInputs($event, 'one')"
  [label]="'input one'"></app-common-text-input>
<app-common-text-input
  (strValue)="handelInputs($event , 'two')"
  [label]="'input two'"></app-common-text-input>
<p>text:<span>{{twoInputsValue}}</span></p>


  <h3>many inputs</h3>
  <app-common-text-input *ngFor="let i of this.manyInputsArr"
    (strValue)="handelInputs($event, i)"
    [label]="''+  i + ''"></app-common-text-input>


<p>many:<span>{{manyInputsValue}}</span></p>
